@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
:root{
    --primary:#ff42a5;
    --secondary:#a155e4;
    --btn-color:#4ec5f7;
    --text-color:#534c64;
    --bg-color:#e7e6e9;
}



/* shared degign */
span{
    color: var(--text-color);
}

.section-title{
  font-size: 2.2rem;
  background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
  color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 15px;
}
.section-description{
  font-size: .9rem;
  /* max-width: ; */
  line-height: 25px;
  margin-bottom: 15px;

}
.gamer-img{
    max-width: 60%;
}

nav{
    /* background-color: aliceblue; */
    box-shadow: 2px 2px 5px rgb(112, 112, 112);
}

.nav-container{
    
    padding: 30px;
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    line-height: 50px;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo-text{
    font-size: 2rem;
    font-weight: 800;
    margin-left: 10px;
}
 .g{
    color: var(--primary);
}
.menus-container{
    display: flex;
    align-items: center;
}
.menus-container a{
    text-decoration: none;
    font-size: 16px;
    color:black ;
    margin-right: 20px;
    align-items: center;
    display: flex;
    font-weight:500;
}
.login{
   background-color: #e7e6e9;
   padding: 10px 20px;
   border: none;
   font-size: 16px;
   border-radius: 5px;
   /* margin-left: 0px; */
}
.fa-brands{
    margin-left: 10px;
    font-size: 22px;
}

/* banner part design  */

.banner{
    display: flex;
    /* padding: 50px 200px 0px 200px; */
    background-image: url("./images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}
.group-img{
    width: 80%;
}
.banner-content{
    padding-left: 200px;
    
    /* width: 50%; */
}

.banner-title{
    font-size: 2.5rem;
    color: black;
    text-transform: uppercase;
}
.banner-text{
    font-size: 5rem;
    /* background-color: red; */
    background-image: linear-gradient(to bottom, var(--primary), var(--secondary)); 
    /* background-image: linear-gradient(to bottom, red, blue); */
    color: transparent;
    -webkit-background-clip:text;
    font-weight: 900;

}
.fa-solid{
    margin-right: 5px;
    margin-bottom: 15px;
}
.btn-primary{
    padding: 15px 30px;
    background-color: var(--primary);
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 20px;
    margin-bottom: 15px;
}
.btn-secondary{
    padding: 15px 30px;
    background-color: var(--btn-color);
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}

/* gamer section design  */


.gamer-section{
    
    background-color: #fff9fc;
    
  
}
.gamer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    gap: 50px;
}

.gamer-content{
    text-align: right;
}
.btn-gamer{
    margin-right:0px ;
}
q{
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color);
}

/* online game section style///////////////////////////////////////////////////////// */
.online-game-section{
    max-width: 1200px;
    margin: auto;
    /* text-align: center; */
    padding: 100px 0px;
    
}
.card-container{
    display: flex;
    gap: 30px;
   
    

}
.card-description{
    color: var(--text-color);
    font-size: 1rem;
    /* width: 350px; */
    margin-top: 20px;
}
.card-img{
    width: 100%;
}
.online-game-content{
    text-align: center;
}

/* play instantly section style  /////////////////////////////////////////////// */

.play-instant-section{
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    /* padding: 50px 0px 200px 0px; */
    padding: 50px 0px 200px 0px;
}
.instant-content{
    width: 300px;
    text-align: right;
}

.horse{
    width: 90%;
    display: block;
    position: relative;
}
.angela{
width: 40%;
border: 1px solid rgba(104, 104, 104, 0.377);
border-radius: 5px;
/* position: relative; */
position: absolute;
margin-top: -200px;
margin-left: -100px;
}
.img-div{
    width: 50%;
    padding-left: 100px;
    position: relative;
}
 
/* list section style////////////////////////////////////////////////////////////// */

.list-section{
    
    background-color: var(--bg-color);
    padding: 100px;
    
}
.list-container{
    max-width: 1200px;
    margin: auto;
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    gap: 30px;
}

.list-item{
    display: flex;
    align-items: center;
    background-color: aliceblue;
    padding:10px 20px;
    border-radius: 50px;
}
.list-item:hover{
    border: 1px solid var(--primary);
    color: #ff42a5;
}

.list-img{
    width: 50px;
    margin-right: 10px;

}

/* footer section /////////////////////////////////////////////////////////////////// */

footer{
    background-color: #07072b;
    padding: 100px  300px;
    text-align: center;
    justify-content: center;
    line-height: 50px;
    
}
.foot-center{
    justify-content: center;
    align-items: center;
}
.foot-logo{
    color: #e7e6e9;
    /* align-content:  center; */
}

.foot-menu1 a{
    text-decoration: none;
    color: #e7e6e9;
    margin-right: 10px;
}
.foot-p {
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    color: #e7e6e9;
    gap: 30px;
}
.copyright{
    color: #e7e6e9;
}